server:
 port: 8080

spring:
  #数据库配置
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://47.115.219.185:3306/hotel?useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai
    username: root
    password: 123456

  data:
    #Spring Data JPA配置
    jpa:
      database: MySQL
      hibernate:
        ddl-auto: update
        show-sql: true

  #email相关配置
  mail:
    host: smtp.qq.com
    username: 459155106@qq.com #邮箱账号
    password: qbkfeghgrpfybgge  #注意：POP3/SMTP服务授权码，不是密码
    default-encoding: UTF-8
    properties:
      mail:
        debug: false
        smtp:
          auth: true
          socketFactory:
            port: 587
          ssl:
            enable: true

  #elasticsearch配置
  elasticsearch:
    hostname: 47.115.219.185
    port: 9200

#文件上传地址配置
file:
  #服务器地址
  uploadUrl: "/root/upload/" # "D:/upload/" # 目前放在本机上测试, 后续部署到服务器中需做更改, "/root/upload/"
